.builderLayout {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  .appContainer {
    display: flex;
    .sidebarContainer {
      display: flex;
      min-width: 18%;
    }
    .editorContainer {
      display: flex;
      max-width: 82%;
    }
  }
}
