.field-label{
	
	
}

.field-input{
	display: block;
	padding: .375rem .75rem;
    padding-right: 30px;
    color: #333;
    border: 1px solid #d7dde2;
    font-size: 14px;
    border-radius: 0;
    box-shadow: none;
	height: 3rem;
	width: 100%;
	transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
	
}

.form-field{
	margin-bottom: 0.5rem;
	position: relative;
	
}