@import '../../../styles/app.scss';
.dropdownContainer {
  position: relative;
  align-items: center;
  input {
    padding: 6px 12px;
    width: 100%;
    border-radius: 4px;
    @include font();
    &:focus {
      outline: none;
    }
  }
  .error {
    border: 1px solid red;
  }
  .hint {
    @include font();
  }
  .error_hint {
    color: red;
  }
  .fullWidth {
    width: 100%;
    input {
      width: 100%;
    }
  }
  .searchItem {
    background: #edf2f7;
    padding: 4px;
    border-radius: 4px;
    max-width: fit-content;
  }
  .enabledRadius {
    border-radius: 4px 4px 0px 0px;
  }
  .disabledRadius {
    border-radius: 4px;
  }
  .inputContainer {
    border-color: #a0aec0;
    border-style: solid;
    .tagsContainer {
    }
  }
  .options {
    position: absolute;
    background: white;
    border-color: #a0aec0;
    border-style: solid;
    border-radius: 0px 0px 4px 4px;
    max-height: 200px;
    overflow-y: scroll;
    width: 100%;
    .option {
      list-style: none;
      padding: 8px;
      cursor: pointer;
      &:hover {
        background: #edf2f7;
      }
    }
  }
}
input:focus {
  outline: 0;
}
