.header-container {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  position: relative;
  z-index: 3;
  .deviceContainer{
    position: relative;
    display: flex;
    background: white;
    color: black;
    align-items: center;
  }
  .actionContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 50vw;
    .publishButton {
      padding: 0px 8px;
    }
    .navAccountPill {
      padding-left: 24px;
      cursor: pointer;
      position: relative;
      .accountMenu {
        position: absolute;
        width: max-content;
        z-index: 999;
        right: 0;
        top: 35px;
        li {
          padding: 12px 16px;
          min-width: 150px;
          &:hover {
            background: rgba($color: #000000, $alpha: 0.02);
          }
        }
      }
      .hideMenu {
        display: none;
      }
    }
  }
}
