.sidebarItem {
  padding: 20px 40px;
  cursor: pointer;
  &:hover {
    background: rgba(00, 00, 00, 0.04);
    border-left: 5px solid #2b6cb0;
    transition: 100ms ease-in;
  }
}
.active {
  border-left: 5px solid #2b6cb0;
}
