@import "../../../styles/app.scss";
.inputWrapper {
  margin-bottom: 12px;
  .label {
    padding: 4px 0px;
    @include font();
  }
  .inputContainer {
    border-radius: 4px;
    border: 1px solid #a0aec0;
    display: flex;
    align-items: center;
    .inputStyle {
      padding: 6px 12px;
      width: 100%;
      border-radius: 4px;
      @include font();
      &:focus {
        outline: none;
      }
    }
    .inputIcon {
      padding-left: 12px;
    }
    .input-right-Icon {
      padding-right: 6px;
    }
  }
  .error {
    border: 1px solid red;
  }
  .hint {
    @include font();
  }
  .error_hint {
    color: red;
  }
  .fullWidth {
    width: 100%;
    input {
      width: 100%;
    }
  }
}
