@import '../../../styles/app.scss';
.inputWrapper {
  margin-bottom: 12px;
  .label {
    padding: 4px 0px;
    @include font();
  }
  .inputContainer {
    border-radius: 4px;
    border: 1px solid #a0aec0;
    display: flex;
    align-items: center;
    input {
      padding: 6px 12px;
      border-radius: 2px;
      @include font();
      &:focus {
        outline: none;
      }
    }
    .inputIcon {
      padding-left: 12px;
    }
  }
  .error {
      border: 1px solid red;
  }
  .fullWidth {
    width: 100%;
    input {
      width: 100%;
    }
  }
}
