@import '../../../styles/app.scss';
.inputWrapper {
    margin-bottom: 12px;
  .label {
    padding: 4px 0px;
    //   @include padding()
  }
  .inputContainer {
    border-radius: 4px;
    display: flex;
    align-items: center;
    input {
      padding: 6px 12px;
      border: 1px solid $BORDER_GREY;
      border-radius: 4px;
      @include font();
      &:focus {
        outline: none;
      }
    }
    .inputIcon {
      padding-left: 12px;
    }
  }
  .fullWidth {
    width: 100%;
    input {
      width: 100%;
    }
  }
}
