@import '../../commonStyles/mixins.scss';
.circularButton {
  padding: 8px;
  border-radius: 20em;
  transition: 0.5ms;
  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}
.defaultButton {
  padding: 4px 8px;
  border-radius: 4px;
  &:hover {
    background: rgba(0, 0, 0, 0.1);
    transition: 200ms ease-in;
  }
}
