<!DOCTYPE html><html><head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">

    </head>
    <body>
        

        <div class="container my-5">
            <div class="row">
                <div class="col-md-4 col-xs-12" id="SidePannel">
                    <div class="card pmd-card bg-sidebar">
                        <!-- <div class="card-header p-0"> -->
                            <img src="images\profile_photo.png" class="card-image-top img-thumbnail profilePhotoURL" alt="Profile Image">
                            <div class="title mx-auto text-center">
                                <h4 class="fullName">JITENDRA PRAJAPATI</h4>
								<span>I am a <span class="txt-rotate profileTags" data-period="2000" data-rotate="[&quot;Freelancer.&quot;,&quot;Web Developer.&quot;,&quot;Developer.&quot;,&quot;ML Engg..&quot;]"></span></span>
                            </div>
                        <!-- </div> -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2 text-center">
                                    <span class="icon icon-user-o align-middle"></span>
                                </div>
                                <div class="col-10">
                                    <p class="profileSummary">Aiming towards technical growth in Data Analytics, Big-Data, Machine Learning and Data-Science with a reputed organization.</p>
                                    <hr>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-2 text-center">
                                    <span class="icon icon-phone align-middle"></span>
                                </div>
                                <div class="col-10 contact">
                                    <h5 class="phone">8750243990</h5>
                                    <!--span>Primary</span>
                                    
                                    <h5>2222222222</h5>
                                    <span>Work</span-->
                                    
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2 text-center">
                                    <span class="icon icon-mail align-middle"></span>
                                </div>
                                <div class="col-10 contact">
                                    <h5 class="email">jitendrappr990@gmail.com</h5>
                                    <!--span>Primary</span>
                                    
                                    <h5>abc@mail2.com</h5>
                                    <span>Work</span-->
    
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2 text-center">
                                    <span class="icon icon-home1 align-middle"></span>
                                </div>
                                <div class="col-10">
									<p><span class="address">Smq 37/5 , New Pinto Park, Air Force Palam</span><span>,&#xA0;</span><span class="city">New Delhi</span><span>,&#xA0;</span><span class="state">Delhi</span><span>,&#xA0;</span><span class="country">INDIA</span>
									</p>
                                    <hr>
                                </div>
                            </div>
							
							<!-- #####################  Skills  ##################  -->	
                            <div class="row" id="SkillSection">
                                <div class="col-2 text-center">
                                    <span class="icon icon-tools align-middle"></span>
                                </div>
                                <div class="col-10">
                                    <h5>Professional Skills</h5>
									<list class="skillSectionList">
										<h6><span class="skillSectionTitle" style="color: #808080;">PROGRAMMING</span></h6>
										<listitem class="skill-item">
											<span class="skillItemsName">Python</span>
											<div class="progress">
												<div class="progress-bar skillItemsLevelProgress" role="progressbar" style="width: 85%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										

											<span class="skillItemsName">R</span>
											<div class="progress">
												<div class="progress-bar skillItemsLevelProgress" role="progressbar" style="width: 60%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										

											<span class="skillItemsName">Powershell</span>
											<div class="progress">
												<div class="progress-bar skillItemsLevelProgress" role="progressbar" style="width: 80%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</listitem>
									

										<h6><span class="skillSectionTitle" style="color: #808080;">HADOOP ADMIN &amp; DEV.</span></h6>
										<listitem class="skill-item">
											<span class="skillItemsName">HDFS</span>
											<div class="progress">
												<div class="progress-bar skillItemsLevelProgress" role="progressbar" style="width: 90%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										

											<span class="skillItemsName">Cassandra</span>
											<div class="progress">
												<div class="progress-bar skillItemsLevelProgress" role="progressbar" style="width: 78%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										

											<span class="skillItemsName">ELK</span>
											<div class="progress">
												<div class="progress-bar skillItemsLevelProgress" role="progressbar" style="width: 80%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										

											<span class="skillItemsName">Nifi</span>
											<div class="progress">
												<div class="progress-bar skillItemsLevelProgress" role="progressbar" style="width: 70%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</listitem>
									

										<h6><span class="skillSectionTitle" style="color: #808080;">MACHINE LEARNING</span></h6>
										<listitem class="skill-item">
											<span class="skillItemsName">Tensorflow</span>
											<div class="progress">
												<div class="progress-bar skillItemsLevelProgress" role="progressbar" style="width: 85%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										

											<span class="skillItemsName">Keras</span>
											<div class="progress">
												<div class="progress-bar skillItemsLevelProgress" role="progressbar" style="width: 50%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										

											<span class="skillItemsName">ML diagnosis</span>
											<div class="progress">
												<div class="progress-bar skillItemsLevelProgress" role="progressbar" style="width: 70%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</listitem>
									</list>
									<hr>
                                </div>
                            </div>
							
							<!-- #####################  Social  ##################  -->	
                            <div class="row" id="SocialSection">
                                <div class="col">
                                    <div class="social-icons text-center">
									<list class="socialList">
										<listitem class="social-item">
											<a href="https://github.com/jitendra-prajapati"><span class="icon icon-github align-middle"></span></a>
										<listitem>
									</listitem></listitem>

										<listitem class="social-item">
											<a href="https://www.linkedin.com/in/jitendrappr990"><span class="icon icon-linkedin align-middle"></span></a>
										<listitem>
									</listitem></listitem>

										<listitem class="social-item">
											<a href="https://www.linkedin.com/in/jitendrappr990"><span class="icon icon-facebook align-middle"></span></a>
										<listitem>
									</listitem></listitem></list>
                                    </div>
                                </div>
                            </div>

				<!-- 						<a href="#"><span class="icon icon-facebook align-middle"></span></a>
											<a href="#"><span class="icon icon-googleplus align-middle"></span></a>
											<a href="#"><span class="icon icon-twitter align-middle"></span></a>
											<a href="#"><span class="icon icon-instagram align-middle"></span></a>
											<a href="#"><span class="icon icon-youtube align-middle"></span></a>
											<a href="#"><span class="icon icon-dribble align-middle"></span></a>
											<a href="#"><span class="icon icon-github align-middle"></span></a> -->
							
                            <div class="row" id="CopyrightTOP">
								 <div class="col text-center"><br>Copyright &#xA9;2019 All rights reserved <br> Made with <span class="icon icon-heart"> by <a href="gocv.com">GOCV.com</a></span></div>
                            </div>

                        </div>
                    </div>   
                </div>
                <div class="col-md-8 col-xs-12">
				
					<!-- #####################  Employment  ##################  -->	
                    <section class="mb-3" id="EmploymentSection">
                        <div class="card pmd-card">
                            <div class="row my-4">
                                <div class="col-2 text-center ">
                                    <span class="icon icon-briefcase1 align-middle"></span>
                                </div>
                                <div class="col-10">
                                    <h2 class="font-weight-bold"> Work Experience </h2>
									<list class="EmploymentList">
										<listitem class="EmploymentItem">
											<div class="custom-content-wrapper mt-3">
												<h4><node class="employmentPosition">Automation Engg.</node><span>&#xA0;@</span><span class="employmentEmployer">HCL Technologies</span><span>,&#xA0; </span><span class="employmentState">Delhi NCR</span><span>,&#xA0;</span><span class="employmentCountry">INDIA</span></h4>
												<span class="employmentStart">10/19/2017</span><span>&#xA0;-&#xA0;</span><span class="employmentEnd">10/03/2019</span>
												<p class="employmentSummary">Quick decision making backed by strong analytical ability. Ability to work enclose co-operation as a team, have a positive attitude, initiative and keenness to learn &amp; adopt new thing.</p>
											</div>
										</listitem>
									</list>
                                </div>
                            </div>
                        </div>
                    </section>
					
					<!-- #####################  Education  ##################  -->					
                    <section class="my-3" id="EducationSection">
                        <div class="card pmd-card">
                            <div class="row my-4">
                                <div class="col-2 text-center ">
                                    <span class="icon icon-study align-middle"></span>
                                </div>
                                <div class="col-10">
                                    <h2 class="font-weight-bold"> Education </h2>
									<list class="EducationtList">
										<listitem class="EducationItem">
											<div class="custom-content-wrapper mt-3">
												<h4><node class="educationTitle">B-Tech</node><span>&#xA0;</span><node class="educationFieldOfStudy">Computer Science</node>
												<span>&#xA0;@</span><span class="educationInstitution">Guru Tegh Bahadur Institute of Technology</span><span>,&#xA0; </span><span class="educationState">Delhi</span><span>,&#xA0;</span><span class="educationCountry">INDIA</span></h4>
												<span class="educationStart">04/01/2017</span><span>&#xA0;-&#xA0;</span><span class="educationEnd">10/02/2018</span>
												<p class="educationSummary">Pursuing B-TECH in CSE from one of the prestigious college of Delhi , GURU TEGH BAHADUR INSTITUTE OF TECHNOLOGY, Rajouri Garden, New Delhi.</p>
											</div>
										</listitem>
									

										<listitem class="EducationItem">
											<div class="custom-content-wrapper mt-3">
												<h4><node class="educationTitle">Class XII</node><span>&#xA0;</span><node class="educationFieldOfStudy">Computer Science</node>
												<span>&#xA0;@</span><span class="educationInstitution">Kendriya Vidyalaya No 2,</span><span>,&#xA0; </span><span class="educationState">Delhi</span><span>,&#xA0;</span><span class="educationCountry">INDIA</span></h4>
												<span class="educationStart">04/01/2016</span><span>&#xA0;-&#xA0;</span><span class="educationEnd">04/01/2015</span>
												<p class="educationSummary">Percentage 79.98%</p>
											</div>
										</listitem>
									

										<listitem class="EducationItem">
											<div class="custom-content-wrapper mt-3">
												<h4><node class="educationTitle">Class X</node><span>&#xA0;</span><node class="educationFieldOfStudy"></node>
												<span>&#xA0;@</span><span class="educationInstitution">Kendriya Vidyalaya No1</span><span>,&#xA0; </span><span class="educationState">Gurarat</span><span>,&#xA0;</span><span class="educationCountry">INDIA</span></h4>
												<span class="educationStart">04/01/2014</span><span>&#xA0;-&#xA0;</span><span class="educationEnd">04/01/2013</span>
												<p class="educationSummary">Percentage 89.00%</p>
											</div>
										</listitem>
									</list>
                                </div>
                            </div>
                        </div>
                    </section>
					
					<!-- #####################  Projects  ##################  -->									
                    <section class="my-3" id="ProjectSection">
                        <div class="card pmd-card">
                            <div class="row my-4">
                                <div class="col-2 text-center ">
                                    <span class="icon icon-folder align-middle"></span>
                                </div>
                                <div class="col-10">
                                    <h2 class="font-weight-bold"> Projects </h2>
									<list class="ProjectList">
										<listitem class="ProjectItem">									
											<div class="custom-content-wrapper mt-3">
												<h4 class="projectTitle">ESS</h4>
												<h6 class="projectSummary">Education Surveillance System</h6>
												<span class="projectStart">06/15/2017</span><span>&#xA0;-&#xA0;</span><span class="projectEnd">10/19/2017</span>
												<p><node class="projectDescription">In ESS, Collect educational data from institutions. &#x25CF; Find insights that help our educational system to improve. &#x25CF; Tech. use Python, HDFS, Hive, Flume, Zeppelin etc. &#x25CF; Challenges are to collect and organizing the structure for data.</node>
												<br><span>Technologies Used<span>&#xA0;:&#xA0;</span></span><node class="projectTechnoloyUsed">Hadoop, HDFS, NiFi, Python</node></p>
											</div>
										</listitem>
									

										<listitem class="ProjectItem">									
											<div class="custom-content-wrapper mt-3">
												<h4 class="projectTitle">Voice Mimic Using Deep Learning</h4>
												<h6 class="projectSummary">Minor Project for Bachelor Degree</h6>
												<span class="projectStart">OCT 2017</span><span>&#xA0;-&#xA0;</span><span class="projectEnd">DEC 2017</span>
												<p><node class="projectDescription">&#x25CF; Aim is to provide respective human voice characteristics in computer voice sample. &#x25CF; Used for Mimic robotic voice to human voice and Language Translation in human voice. &#x25CF; Tech. use Python, Tensorflow, Deep Learning Networks, Tacotron network, etc. &#x25CF; Challenges are to develop a system that work in near real time and handle noise in voice.</node>
												<br><span>Technologies Used<span>&#xA0;:&#xA0;</span></span><node class="projectTechnoloyUsed">Python, Tensorflow, Tactron Network</node></p>
											</div>
										</listitem>
									

										<listitem class="ProjectItem">									
											<div class="custom-content-wrapper mt-3">
												<h4 class="projectTitle">Multilingual Speech Translation: Hinglish to English</h4>
												<h6 class="projectSummary">Aim to translate Hinglish text into meaning full English text.</h6>
												<span class="projectStart">FEB 2018</span><span>&#xA0;-&#xA0;</span><span class="projectEnd">AUG 2018</span>
												<p><node class="projectDescription">Used for understanding Hinglish text commonly used by Indians in social networking site. &#x25CF; Tech. use Python, Tensorflow, SeqToSeq Network, text to speech API, etc. &#x25CF; Challenges are to dealing with words having similar spell.</node>
												<br><span>Technologies Used<span>&#xA0;:&#xA0;</span></span><node class="projectTechnoloyUsed">Python, Tensorflow, Tactron Network</node></p>
											</div>
										</listitem>
									</list>                                   
                                </div>
                            </div>
                        </div>
                    </section>
				
					<!-- ##################### Accomplishment ##################  -->				
                    <section class="my-3" id="AccomplishmentSection">
                        <div class="card pmd-card">
                            <div class="row my-4">
                                <div class="col-2 text-center ">
                                    <span class="icon icon-trophy align-middle"></span>
                                </div>
                                <div class="col-10">
                                    <h2 class="font-weight-bold"> Accomplishments </h2>
									<list class="AccomplishmentList">
										<listitem class="AccomplishmentItem">										
											<div class="custom-content-wrapper mt-3">
												<h4><node class="accomplishmentTitle">11th CYBER-OLYMPIAD</node><span>&#xA0;-&#xA0;</span><span class="accomplishmentRank">3rd</span></h4>
												<span class="accomplishmentDate">MAR 2016</span>
												<p class="accomplishmentSummary"></p>
											</div>
										</listitem>
									

										<listitem class="AccomplishmentItem">										
											<div class="custom-content-wrapper mt-3">
												<h4><node class="accomplishmentTitle">Machine Learning Course</node><span>&#xA0;-&#xA0;</span><span class="accomplishmentRank"></span></h4>
												<span class="accomplishmentDate">Sept 2016</span>
												<p class="accomplishmentSummary">by Andrew Ng, Stanford University (Coursera.org)</p>
											</div>
										</listitem>
									

										<listitem class="AccomplishmentItem">										
											<div class="custom-content-wrapper mt-3">
												<h4><node class="accomplishmentTitle">Exploratory Data Analysis Course</node><span>&#xA0;-&#xA0;</span><span class="accomplishmentRank"></span></h4>
												<span class="accomplishmentDate">Mar 2017</span>
												<p class="accomplishmentSummary">by Roger Peng, PhD, Jeff Leek, Johns Hopkins Univ. (Coursera.org)</p>
											</div>
										</listitem>
									</list> 
                                </div>
                            </div>
                        </div>
                    </section>
					
					<!-- ##################### Research and Publications ##################  -->
					
					
					<!-- ##################### Affiliation ##################  -->
					<section class="my-3" id="AffiliationSection">
                        <div class="card pmd-card">
                            <div class="row my-4">
                                <div class="col-2 text-center ">
                                    <span class="icon icon-employees align-middle"></span>
                                </div>
                                <div class="col-10">
                                    <h2 class="font-weight-bold"> Affiliations </h2>
									<list class="AffiliationList">
										<listitem class="AffiliationItem">		
											<div class="custom-content-wrapper mt-3">
												<h4><node class="affiliationOrganization">IEEE-GTBIT</node><span>&#xA0;-&#xA0;</span><span class="affiliationRole">Volunteer</span></h4>
												<span class="affiliationStart">10/02/2017</span><span>&#xA0;-&#xA0;</span><span class="affiliationEnd">10/10/2019</span>
												<p class="affiliationSummary">The IEEE-GTBIT student branch was set up in the year 2008 with the aim to enhance the engineering skills of students in GTBIT.</p>
											</div>
										</listitem>
									</list> 
                                </div>
                            </div>
                        </div>
                    </section>
					
					<!-- ##################### Interestes ##################  -->
					<section class="my-3" id="interestesSection">
                        <div class="card pmd-card">
                            <div class="row my-4">
                                <div class="col-2 text-center ">
                                    <span class="icon icon-trophy align-middle"></span>
                                </div>
                                <div class="col-10">
                                    <h2 class="font-weight-bold"> Interestes  </h2>
									<div class="custom-content-wrapper mt-3">
										<list class="InteresteList">						
											<listitem class="InteresteItem">			
												<a href="#" data-toggle="tooltip" data-placement="top" title="Cycling"><span class="icon icon-man-cycling align-middle"></span></a>
											</listitem>
										</list> 
									</div>
                                </div>
                            </div>
                        </div>
                    </section>
					
					<section class="my-3" id="CopyrightBOTTOM">
						<div class="row CopyrightTOP">
							 <div class="col text-center"><br>Copyright &#xA9;2019 All rights reserved <br> Made with <i class="icon icon-heart"></i> by <a href="gocv.com">GOCV.com</a></div>
						</div>
					</section>
                </div>
            </div>
        </div>


        <!-- Scripts -->
        <script src="js/jquery-3.3.1.slim.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>

    
</body></html>