<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">

    </head>
    <body>
        

        <div class="container my-5">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="card pmd-card bg-sidebar">
                        <!-- <div class="card-header p-0"> -->
                            <img src="images/profile_male.png" class="card-image-top img-thumbnail profilePhotoURL" alt="Profile Image">
                            <div class="title mx-auto text-center">
                                <h4 class="fullName" >Sachin Gupta</h4>
								<span>I am a <span class="txt-rotate profileTags" data-period="2000" data-rotate='[ "developer.", "designer.", "freelancer." ]'></span></span>
                            </div>
                        <!-- </div> -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2 text-center">
                                    <span class="icon icon-user-o align-middle"></span>
                                </div>
                                <div class="col-10">
                                    <p class="profileSummary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                            dolore magna aliqua . Ld do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                    <hr/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-2 text-center">
                                    <span class="icon icon-phone align-middle"></span>
                                </div>
                                <div class="col-10 contact">
                                    <h5 class="phone">1111111111</h5>
                                    <!--span>Primary</span>
                                    
                                    <h5>2222222222</h5>
                                    <span>Work</span-->
                                    
                                    <hr/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2 text-center">
                                    <span class="icon icon-mail align-middle"></span>
                                </div>
                                <div class="col-10 contact">
                                    <h5 class="email">abc@mail1.com</h5>
                                    <!--span>Primary</span>
                                    
                                    <h5>abc@mail2.com</h5>
                                    <span>Work</span-->
    
                                    <hr/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2 text-center">
                                    <span class="icon icon-home1 align-middle"></span>
                                </div>
                                <div class="col-10">
									<p><span class="address">123 Lorem Ipsum</span><span>,&nbsp;</span><span class="city">Dolor</span><span>,&nbsp;</span><span class="state">New York</span><span>,&nbsp;</span><span class="country">USA</span>
									</p>
                                    <hr/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2 text-center">
                                    <span class="icon icon-tools align-middle"></span>
                                </div>
                                <div class="col-10" id="SkillSection">
                                    <h5>Professional Skills</h2>
									<List class="skillSectionList">
										<h6><span class="skillSectionTitle" style="color: #808080;">Work</span></h6>
										<listItem class="skill-item">
											<span class="skillItemsName">Skill 1</span>
											<div class="progress">
												<div class="progress-bar skillItemsLevelProgress" role="progressbar" style="width: 45%"  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</listItem>
									</List>
									<hr/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" id="SocialSection">
                                    <div class="social-icons text-center">
									<List class="socialList">
										<listItem class="social-item">
											<a href="#"><span class="icon icon-facebook align-middle"></span></a>
										<listItem>
									</List>
                                    </div>
                                </div>
                            </div>

				<!-- 						<a href="#"><span class="icon icon-facebook align-middle"></span></a>
											<a href="#"><span class="icon icon-googleplus align-middle"></span></a>
											<a href="#"><span class="icon icon-twitter align-middle"></span></a>
											<a href="#"><span class="icon icon-instagram align-middle"></span></a>
											<a href="#"><span class="icon icon-youtube align-middle"></span></a>
											<a href="#"><span class="icon icon-dribble align-middle"></span></a>
											<a href="#"><span class="icon icon-github align-middle"></span></a> -->
							
                            <div class="row">
								 <div class="col text-center"><br>Copyright ©2019 All rights reserved <br> Made with <span class="icon icon-heart"> by <a href="gocv.com">GOCV.com</a></div>
                            </div>

                        </div>
                    </div>   
                </div>
                <div class="col-md-8 col-xs-12">
                    <section class="mb-3">
                        <div class="card pmd-card">
                            <div class="row my-4">
                                <div class="col-2 text-center ">
                                    <span class="icon icon-briefcase1 align-middle"></span>
                                </div>
                                <div class="col-10" id="EmploymentSection">
                                    <h2 class="font-weight-bold"> Work Experience </h2>
									<List class="EmploymentList">
										<listItem class="EmploymentItem">
											<div class="custom-content-wrapper mt-3">
												<h4><node class="employmentPosition">Experience 1</node><span>&nbsp;@</span><span class="employmentEmployer"></span><span>,&nbsp; </span><span class="employmentState"></span><span>,&nbsp;</span><span class="employmentCountry"></span></span></h4>
												<span class="employmentStart">JAN 2013</span><span>&nbsp;-&nbsp;</span><span class="employmentEnd">DEC 2013</span>
												<p class="employmentSummary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
											</div>
										</listItem>
									</List>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="my-3">
                        <div class="card pmd-card">
                            <div class="row my-4">
                                <div class="col-2 text-center ">
                                    <span class="icon icon-study align-middle"></span>
                                </div>
                                <div class="col-10" id="EducationSection">
                                    <h2 class="font-weight-bold"> Education </h2>
									<List class="EducationtList">
										<listItem class="EducationItem">
											<div class="custom-content-wrapper mt-3">
												<h4><node class="educationTitle"> </node><span>&nbsp;</span><node class="educationFieldOfStudy"></node>
												<span>&nbsp;@</span><span class="educationInstitution"></span><span>,&nbsp; </span><span class="educationState"> </span><span>,&nbsp;</span><span class="educationCountry"></span></h4>
												<span class="educationStart">JAN 2013</span><span>&nbsp;-&nbsp;</span><span class="educationEnd">DEC 2013</span>
												<p class="educationSummary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
											</div>
										</listItem>
									</List>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="my-3">
                        <div class="card pmd-card">
                            <div class="row my-4">
                                <div class="col-2 text-center ">
                                    <span class="icon icon-folder align-middle"></span>
                                </div>
                                <div class="col-10" id="ProjectSection">
                                    <h2 class="font-weight-bold"> Projects </h2>
									<List class="ProjectList">
										<listItem class="ProjectItem">									
											<div class="custom-content-wrapper mt-3">
												<h4 class="projectTitle">Projects 1</h4>
												<h6 class="projectSummary">Summary</h6>
												<span class="projectStart">JAN 2013</span><span>&nbsp;-&nbsp;</span><span class="projectEnd">DEC 2013</span>
												<p class="projectDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
												<p><span>Technologies<span>&nbsp;:&nbsp;</span></span><node class="projectTechnoloyUsed"></node></p>
											</div>
										</listItem>
									</List>                                   
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="card pmd-card">
                            <div class="row my-4">
                                <div class="col-2 text-center ">
                                    <span class="icon icon-trophy align-middle"></span>
                                </div>
                                <div class="col-10" id="AccomplishmentSection">
                                    <h2 class="font-weight-bold"> Accomplishments </h2>
									<List class="AccomplishmentList">
										<listItem class="AccomplishmentItem">										
											<div class="custom-content-wrapper mt-3">
												<h4><node class="accomplishmentTitle">Accomplishment 1</node><span>&nbsp;-&nbsp;</span><span class="accomplishmentRank"></span></h4>
												<span class="accomplishmentDate">JAN 2013</span>
												<p class="accomplishmentSummary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
											</div>
										</listItem>
									</List> 
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>


        <!-- Scripts -->
        <script src="js/jquery-3.3.1.slim.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>