/*-----------------
    MainBlock - 4
------------------*/

/* animation effect */
.shape-amk-tems {
  -webkit-animation: spin 5s infinite linear;
  -moz-animation: spin 5s infinite linear;
  -ms-animation: spin 5s infinite linear;
  -o-animation: spin 5s infinite linear;
  animation: spin 5s infinite linear;
}

img.shape-temps-amk-one {
  top: 37%;
  position: absolute;
  right: 2%;
  z-index: -1;
}

img.shape-temps-amk-two {
  top: 12%;
  position: absolute;
  right: 50%;
  z-index: -1;
}

img.shape-temps-amk-three {
  top: 10%;
  position: absolute;
  right: 15%;
  z-index: -1;
}

img.shape-temps-amk-four {
  position: absolute;
  top: 30%;
  left: 4%;
  z-index: -1;
}

img.shape-temps-amk-five {
  position: absolute;
  bottom: 14%;
  right: 7%;
  z-index: -1;
}

img.shape-temps-amk-six {
  position: absolute;
  bottom: 18%;
  left: 23%;
  z-index: -1;
}
@-webkit-keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);  /* IE 9 */
      transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
      -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);  /* IE 9 */
      transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);  /* IE 9 */
      transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
      -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);  /* IE 9 */
      transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
