.RatingFilter {
    .activeStar {
      color: yellow;
    }
}
.activeStar {
  color: yellow;
}
.featureDropdown {
  .react-dropdown-select {
    border: 0px;
  }
  .react-dropdown-select-content input {
    font-size: 100%;
    margin-left: 0;
    text-align: end;
  }
  .react-dropdown-select-item {
    color: black;
    background-color: white;
    font-size: 80%;
  }
}

.GridRow {
  .activeGrid {
    background: white;
    border-radius: 9999px;
    color: #63b3ed;
  }
  .featureDropdown {
    .react-dropdown-select {
      border: 0px;
    }
    .react-dropdown-select-content {
      font-weight: 600;
    }
    .react-dropdown-select-content input {
      font-weight: 600;
      font-size: 100%;
      margin-left: 0;
      text-align: end;
    }
    .react-dropdown-select-item {
      color: black;
      background-color: white;
      font-size: 80%;
    }
  }
}

.templateGrid {
  flex: 0 0 33.333333%;
}
