// Multiselect Hobbies
@import "../../../styles/app.scss";

.selectedHobbies {
  max-width: 60vw;
  border: 1px solid #c1c1c1;
  font-size: 14px;
  .hobby {
    display: inline-flex;
    font-weight: bold;
    margin: 2px;
    padding: 5px;
    min-width: 50px;
    line-height: 1.75rem;
    margin-right: .6rem;
    span {
      margin-right: .5rem;
    }
  }
}